.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.navlist li {
    float: left;
}

.navlist li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navlist li a:hover:not(.active) {
    background-color: #ddd;
}

.navlist li a.active {
    color: white;
    background-color: #4CAF50;
}

.pull-right {
    text-align: right;
    display: inline-block;
}

.pull-left {
    text-align: left;
    display: inline-block;
}

.post {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 0 auto;
    display: table;
}

.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}

.post_container {
    
}

.justify {
    text-align: justify;
}

.xymargins {
    margin-top: 16px;
    margin-bottom: 16px;
}

